h3{
    text-align: center;
    background-color:aqua;
    text-shadow: 5px 5px 5px rgb(40, 20, 220);
}
.sagol{
    border: 10px solid tomato;
    box-shadow:10px 10px 10px rgb(221, 85, 221);
    border-radius: 10px;
    padding: 10px;
}
.goru{
    border: 10px solid rgb(137, 195, 12);
    border-radius: 10px;
    box-shadow: 10px 10px 10px rgb(221,85,221);
}
    .murgi{
        border: 10px solid rgb(114, 111, 111);
        border-radius: 10px;
        box-shadow: 10px 10px 10px rgb(221,85,221); 
    }
div{
    margin: 30px;
}
